.btn-primary {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #10a37f;
    color: white;
    font-size: 0.85rem;
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    outline: none;
    border: none;
}

.btn-primary:hover {
    background: #1a7f64;
}